/*

Add styles or override variables from the theme here.

*/

.td-navbar .navbar-brand .navbar-logo svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 26px;
    z-index: 33;
    padding: 10px;
    height: 75px;
    background: #fff;
    border: 2px solid #EC1D24;
    border-top: none;
}

.feedback--answer {
    border-radius: 1rem;
    margin-bottom: 1.5rem!important;
    color: #fff;
    background: #797676 linear-gradient(180deg,#797676,#797676)repeat-x;
    border-color: #797676;
    //box-shadow: inset 0 1px rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
}

.td-sidebar-nav .td-sidebar-link.tree-root {
    font-weight: 700;
    color: #EC1D24;
    border-bottom: 1px #EC1D24 solid;
    margin-bottom: 1rem;
}

$primary: #EC1D24;
$secondary: #ffffff;
//$enable-gradients: true;
//$enable-rounded: true;
//$enable-shadows: true;

.shift {
    margin-left: 10px;
}

.td-content img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.td-main .taxonomy-terms-cloud {
    font-size: 0.9em;
}

.taxonomy-terms-page .taxonomy-terms-cloud {
    font-size: 0.9em;
}

.taxonomy-terms {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline;
}

.display-no-block {
    font-weight: 300;
    padding-bottom: .25rem;
}

.taxonomy-terms-cloud {
    width: 100%;
    clear: both;
    font-size: .9rem;
}

.taxonomy-terms-page .taxonomy-terms-cloud li {
    display: block;
}

.taxonomy-terms li {
    display: inline;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.taxonomy-term {
    background: #eee;
    border-width: 0;
    border-radius: 0 3px 3px 0;
    color: #797676;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.5em;
    min-height: 1.5em;
    max-width: 100%;
    padding: 0 .5em 0 1em;
    position: relative;
    margin: 0 .5em .2em 0;
    text-decoration: none;
    -webkit-transition: color .2s;
    -webkit-clip-path: polygon(100% 0,100% 100%,.8em 100%,0 50%,.8em 0);
    clip-path: polygon(100% 0,100% 100%,.8em 100%,0 50%,.8em 0);
}

.taxonomy-count {
    font-size: .8em;
    line-height: 1.25em;
    display: inline-block;
    padding-left: .6em;
    padding-right: .6em;
    margin-left: .6em;
    text-align: center;
    border-radius: 1em;
    background-color: #fff;
}

.taxonomy-terms-page {
    max-width: 800px;
    margin: auto;
}